*{
    box-sizing: border-box;
    font-family:"Arial", Helvetica, sans-serif;
}

input[type=text],
input[type=tel],
input[type=email],
textarea{
    width:100%;
    padding:12px;
    border: 1px solid #ccc;
    margin-top:6px;
    margin-bottom: 16px;
    resize:vertical;
}

input[type=submit]{
    background-color: #000000; 
    color:white;
    padding:10px 20px;
    margin:auto;
    border:none;
    cursor:pointer;
}

input[type=submit]:hover{
    background-color:#45a049;
}

.wrapper{
    border-radius: 5px;
    padding:10px;
}

.column{
    float:left;
    width:50%;
    margin-top:6px;
    padding:20px;
}

.row:after{
    content: "";
    display:table;
    clear:both;
}


input[type=email]:focus:valid{
    outline-style: none;
    box-shadow: none;
}

#epost:focus:invalid, 
#mobil:focus:invalid{
    border-color:red;
    border-width:1px;
}

#epost:focus:valid, 
#mobil:focus:valid{
    border: 1px solid green;
}

@media screen and (max-width:900px){
    .column,input[type=submit]{
        width:100%;
        margin-top:0;
    }
}


