body{
    background-color:#f9f9f1;
    font-family:Arial;
}

input[type=text],textarea{
    width:20%;
    padding:5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=email]{
    width:20%;
    padding:5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=tel]{
    width:20%;
    padding:5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label{
    padding: 5px 5px 5px 0;
    display:inline-block;
}

input[type=submit]{
    background-color:#000000;
    color:white;
    padding: 5px 15px;
    border:none;
    border-radius: 4px;
    cursor:pointer;
    float:left;
}

.wrapper{
    border-radius: 5px;
    padding:20px;
}

.col-75{
    float:left;
    width:105%;
    margin-top: 6px;
}

.row:after{
    content: "";
    
    clear: both;
}

input:focus:invalid{
    outline-style: none;
    box-shadow: none;
}

input:focus:valid{
    outline-style: none;
    box-shadow: none;
}

#epost:focus:invalid {
    border: 1px solid red;
}

#epost:focus:valid {
    border: 1px solid green;
}

#telefon:focus:invalid {
    border: 1px solid red;
}

#telefon:focus:valid {
    border: 1px solid green;
}


h1{
    width:80%
}

.col-75 #melding{
    height:100px;
}

@media screen and (max-width:586px){
   h1,body, #kontaktinformasjon, .col-25, .col-75, input[type=submit],textarea{
        width: 80%;
        margin-top:0;
    }
}