*{
    box-sizing: border-box;
    font-family:"Arial", Helvetica, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.wrapper{
    padding: 30px 40px;
    width: 100%;
    text-align:center;
}

.wrapper h1{
    margin-top:0;
    font-weight:200; 
}

.kontakt{
    border: 1px solid gray;
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 8px;
}

.kontakt label{
    display:block;
    text-align:left;
    color:#333;
    font-size:14px;
}

.kontakt input,.kontakt textarea{
    width:100%;
    border:none;
    outline:none;
    font-size: 18px;
    margin-top: 6px;
}

textarea{
    height:150px;
}

#btn{
    color:white;
    background-color: #000000;
    padding: 10px 15px;
    margin:10px auto;
    border:none;
    cursor:pointer;
    width:100%;
}

#btn:hover{
    background-color:#45a049;
}

input[type=email]:focus:valid{
    outline-style: none;
    box-shadow: none;
}

#epost:focus, 
#mobil:focus{
    border-color:red;
    border-width:1px;
    outline: none;
}

#epost:focus:valid, 
#mobil:focus:valid{
    border: 1px solid green;
}

.popup{
    width: 60%;
    height: 30%;
    border: 3px solid black;
    border-radius: 13px;
    background-color: #f9f9f1;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:900px){
    .column,input[type=submit]{
        width:100%;
        margin-top:0;
    }
}


