
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
	min-height: 150px;
	width: 100%;
}

#nav-img{
		display: flex;
		align-items: center;
}

#logo {
	width: 165px;
	margin: 15px 25px;
}
#burger {
	display: none;
}
#burger div{
	width: 25px;
	height: 5px;
	background-color: #474748;
	margin: 5px;
	
}
#navbar {
	display: flex;
	flex-direction: row;
	align-items: center;
}
#navbar > li {
	list-style: none;
	padding: 0 20px;
}

#navbar > li > a {
	font-family: arial, sans-serif;
	font-size: 37px;
	color: #474748;
	text-decoration: none;
}

#navbar > li > a:hover {
	text-decoration: underline;
}

#navbar > li .active {
	text-decoration: underline;
	pointer-events: none;
}
@media screen and (max-width: 900px) {
	body {
		overflow-x: hidden;
	}
	#navbar {
		position: absolute;
		left: 0px;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		min-width: 50vw;
		z-index: 1;
		transform: translateX(-100%);
		transition: transform 0.5s ease-in;
		background-color: #E3E4D4;
		top: 0px;
		margin: 0px;
		padding: 50px 0px;
	}
	#navbar.nav-active {
		transform: translateX(0%);
	}
	#navbar > li {
		padding: 20px 0px;
		border-bottom: 3px solid #474748;
		min-width: 200px;
		text-align: center;

	}
	#burger {
		display: block;
		cursor: pointer;
	}
}