.header {
  height: 100px;
}

/* body {
  margin-left: 150px;
  margin-right: 150px;
} */

.bildebox {
  float: left;
  margin-right: 30px;
  width: 300px;
}
.tekstboks {
  float: left;
  width: 600px;
}