main {
  margin: auto;
  width: 65%;
  padding: 10%;
}

#ombilde img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#navn-tittel {
  text-align: center;
}

#map {
  margin: 0 auto;
  padding: 10%;
  width: 50%;
  height: 20%;
}

#forskerpool {
	color: #3b3b3d;
	text-decoration: none;
}

#forskerpool:hover {
	text-decoration: underline;
}

#forskerpool:visited {
	color: #3b3b3d;
}


@media screen and (max-width: 900px) {
  #ombilde {
    width: 100vw;
  }
  #omfakta {
    width: 100vw;
    align-items: center;
  }

  }
  #bunntxt {
    width: 100%;
  }
  #mapbox {
    width: 70%;

  }
}