main {
  display: flex;
  flex-direction: column;
}
#topp {
  width: 100%;
  display: flex;
  flex-direction: row;
}
#ombilde {
  display: flex;
  width: 50vw;
  align-items: center;
  justify-content: center;
}
#ombilde img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

#omfakta {
  display: flex;
  width: 50vw;
  flex-direction: column;
  justify-content: center;
}
#bunn {
  display: flex;
  flex-direction: row;
  padding: 70px 40px;
}
#bunntxt {
  width: 60%;
}
#mapbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}
#map {
  width: 80%;
  height: 200px
}

@media screen and (max-width: 900px) {
  #topp {
    flex-direction: column;
  }
  #ombilde {
    width: 100vw;
  }
  #omfakta {
    width: 100vw;
    align-items: center;
  }
}