/* Make browsers take any border and padding into account,
when specifying width and height to an element */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Sets background color and resets margin and padding,
to better accommodate same design throughout different browsers */
body, html {
	background-color: #f9f9f1;
	margin: 0;
	padding: 0;
	height: 100%;
}

#main {
	display: flex;
	flex-direction: row;
	align-items: center;
}

/* Specifiying font, color, size and position of the slogan in index.html */
#main-slogan {
	font-family: arial, sans-serif;
	color: #3b3b3d;
	margin: 0 5%;
	display: flex;
	flex-direction: column;
}

/* Further positioning of the slogan */
.slogan{
	margin: 3% 0;
	font-size: 400%;
}

/* Specifiying font, size and positioning of the informatic text in index.html */
#main-text {
	font-family: arial, sans-serif;
	font-size: 90%;
	width: 50%;
	display: flex;
	flex-direction: column;
	padding: 25px 40px;

}

/* Designing 'article tables' in both index.html and artikler.html */
table {
	/* Horizontally centering the table */
	text-align: center; 
    margin-left: auto; 
    margin-right: auto; 
    width: 75%;

    font-family: Arial, sans-serif;
    font-weight: bold;

	/* Giving the table a black border-top*/
    border-collapse: collapse;
    border-top: 3px solid #474748;
}

/* More space between table elements */
tr, td {
	text-align: left;
	font-size: 1.1em;
	padding: 15px;
}

/* Adds a grey border between every table element except the last */
tr:not(:last-child) > td {
	border-bottom: 2px solid #BBBBBB;

}

/* Sets a grey color to the date in table */
.article-date {
	color: #BBBBBB;
}

/* Sets a grey color to the hyperlink and removes any text-decoration */
.article-dl > a {
	color: #BBBBBB;
	text-decoration: none;
}

/* When the hyperlink is visited, the color should remain grey */
.article-dl > a:visited {
	color: #BBBBBB;
}

/* Hovering hyperlink gives it an underline */
.article-dl > a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 900px) {
	#main {
		display: flex;
		flex-direction: column;
	}
	#main-slogan {
		width: 100%;
	}
	#main-text {
		width: 80%;
	}
	.slogan {
		font-size: 8vw;
		padding: 0 10%;
	}
}
