* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #f9f9f1;
}
#main {
	position: relative;
	display: flex;
	flex-direction: row;

}

#main-slogan {
	font-family: arial, sans-serif;
	color: #3b3b3d;
	width: 70%;
	margin: 25px 30px;
	display: flex;
	flex-direction: column;
	margin-left: 10%;
}
#slogan{
	margin: 3%;
	font-size: 400%;
}
#main-text {
	font-family: arial, sans-serif;
	font-size: 90%;
	width: 50%;
}

table {
	text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
    width: 90%;
    border-collapse: collapse;
}

tr {
	border-bottom: 1px solid black;
	line-height: 1.8em;	
}

tr, td {
	text-align: left;
	font-size: 1.1em;
	padding: 15px;
}

.article-title {
	font-weight: bold;
}

caption {
	text-align: left;
	font-weight: bold;
	font-size: 1.15em;
}