* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #f9f9f1;
}

#main {
	position: relative;
	display: flex;
	flex-direction: row;

}

#main-slogan {
	font-family: arial, sans-serif;
	color: #3b3b3d;
	width: 70%;
	margin: 25px 30px;
	display: flex;
	flex-direction: column;
	margin-left: 10%;
}
#slogan{
	margin: 3%;
	font-size: 400%;
}
#main-text {
	font-family: arial, sans-serif;
	font-size: 90%;
	width: 50%;
}

table {
	text-align: center; 
    margin-left: auto; 
    margin-right: auto; 
    width: 75%;

    font-family: Arial, sans-serif;
    font-weight: bold;

    border-collapse: collapse;
    border-top: 3px solid black;
    border-color: #474748;
}

td {
	line-height: 1.8em;	
}

tr, td {
	text-align: left;
	font-size: 1.1em;
	padding: 15px;
}

tr:nth-child(-n+2) > td {
	border-bottom: 2px solid black;
	border-color: #BBBBBB;

}

.article-date {
	color: #BBBBBB;
}

.article-title {
	
}

.article-dl > a {
	color: #BBBBBB;
	
	text-decoration: none;
}

.article-dl > a:visited {
	color: #BBBBBB;
}

caption {
	text-align: left;
	font-weight: bold;
	font-size: 1.15em;
}
